<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Add Person</title>
</head>
<body>
    <div>
        {{>header}}
    </div>
    <div><h1>Add Person</h1></div>
    <div>
        <form action="">
            <p>
            <label>Name
            <input type="text" name="customer_name" required>
            </label> 
            </p>

            <p>
            <label>dob 
            <input type="date">
            </label>
            </p>

            <p>
            <label>Sex 
            <input type="text" name="email_address">
            </label>
            </p>

            <p>
            <label>cv 
            <input type="text" name="email_address">
            </label>
            </p>

            <p><button>Submit</button></p>
        </form>
    </div>   
</body>
</html>